
<%if signed_in %>
    <p>Hi, <%=user_name%>. You are signed in.  Here is a list of your blogs:</p>
<% else %>
    <p>This is a list of all the blogs on our site</p>
<% end %>

<%blogs.each do |blog|%>
    <div class="blogSummaryWrap">
        <h4><em>title:</em> <%= blog.title%></h4>
        <%if !signed_in %>
            <p>by: <%=blog.user.user_name%></p>
        <%end%>
        <p><em>summary:</em> <%= blog.summary%></p>
    </div>
<%end%>

