body {
  background-color: rgb(62, 108, 183);
}
#frame {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

/* BUTTONS AND LINKS */

.link,
a {
  all: unset;
  color: rgb(240, 150, 32);
  background-color: rgb(243, 242, 242);
  border: solid 1px rgb(230, 229, 229);
  /* color: rgb(47, 96, 175); */
  padding: 0.5rem;
  border-radius: 7px;
}

.link:hover,
a:hover {
  color: rgb(226, 102, 0);
  background-color: white;

  /* background-color: rgb(181, 219, 255); */
}

/* INDEX VIEW */

.blogSummaryWrap {
  border: solid gainsboro 2px;
  border-radius: 3px;
  background-color: rgb(236, 235, 235);
  margin-bottom: 1rem;
  padding: 0.25rem 1rem 0.5rem 2rem;
}

.tagWrap {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.2rem;
}

.tagWrap:hover {
  background-color: rgba(172, 255, 47, 0.24);
}

/* SIGN IN FORM */

.error {
  color: magenta;
}
