body {
  background-color: rgb(62, 108, 183);
  font-family: fantasy;
  padding-top: 50px;
}
#frame {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

/* BUTTONS AND LINKS */

.link,
a {
  all: unset;
  color: rgb(240, 150, 32);
  background-color: rgb(243, 242, 242);
  border: solid 1px rgb(230, 229, 229);
  /* color: rgb(47, 96, 175); */
  padding: 0.5rem;
  border-radius: 7px;
  font-weight: 100;
}

.link:hover,
a:hover {
  color: rgb(226, 102, 0);
  background-color: white;
  /* background-color: rgb(181, 219, 255); */
}

/* INDEX VIEW */

.blogSummaryWrap {
  border: solid gainsboro 2px;
  border-radius: 3px;
  background-color: rgb(236, 235, 235);
  margin-bottom: 1rem;
  padding: 0.25rem 1rem 1rem 2rem;
}

.tagWrap {
  display: inline-block;
  padding: 0.2rem;
  border-radius: 5px;
  margin-bottom: 0.2rem;
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
}

.tagWrap:hover {
  background-color: rgba(172, 255, 47, 0.24);
}

/* SIGN IN AND SIGN UP FORMS */

#signIn,
#signUp {
  float: left;
  /* border: solid blue 1px; */
  padding: 1rem;
  /* background-color: rgb(121, 165, 204); */
  border-radius: 10px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  /* position: sticky; */
}

#signIn h1,
#signUp h1 {
  font-size: 1.5rem;
}

.error {
  color: magenta;
}

#navbar {
  background-color: rgb(62, 108, 183);
}
#navbar h1 {
  clear: both;
}

#siteTitle {
  color: rgb(240, 150, 32);
}

#siteTagLine {
  color: rgb(11, 30, 114);
}

#navbar p {
  font-size: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 2rem;
}
