body {
}
#frame {
  width: 80%;
  margin: auto;
}

/* INDEX VIEW */

.blogSummaryWrap {
  border: solid gainsboro 2px;
  border-radius: 3px;
  background-color: rgb(236, 235, 235);
  margin-bottom: 1rem;
  padding: 0.25rem 1rem 0.5rem 2rem;
}

.tagWrap {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.2rem;
}

.tagWrap:hover {
  background-color: rgba(172, 255, 47, 0.24);
}

/* SIGN IN FORM */

.error {
  color: magenta;
}
