<form id="signIn" action="/sign-in" method="post">
<h1>Sign In</h1>
    <label for="username">User Name</label>
    <input id="newUserName" type="text" name="body[user_name]">
    <label for="password">password</label>
    <input type="text" name="body[password]">
    <input type="submit" value="Submit">
    <% if does_not_exist_error %>
        <p class="error">wrong user name or password</p>
    <%end%>
</form>