<form id="signUp" action="/sign-up" method="post">
<h1>Sign Up</h1>
    <label for="user_name">User Name</label>
    <input id="newUserName" type="text" name="user_name">
    <label for="password">password</label>
    <input type="text" name="password">
    <input type="submit" value="Submit">
    <%if already_existing_user_name_error %>
     <p class="error">That user name is taken.  Please try again. </p>
    <% end %>
</form>